In [11]:
import urllib
import glob
import nltk
import pandas as pd
from bs4 import BeautifulSoup

In [12]:
data = pd.read_csv('../fulldata/sites.csv')

In [13]:
data

                 websites                  titles
0         theatlantic.com            The Atlantic
1                imdb.com                    IMDB
2             nytimes.com      The New York Times
3            voxmedia.com                     Vox
4        nbcuniversal.com     NBC Universal Media
..                    ...                     ...
108         dailynews.com  Los Angeles Daily News
109              lids.com                    Lids
110  sports-reference.com        Sports Reference
111         foxsports.com      Fox Sports Insider
112         latinpost.com              Latin Post

[113 rows x 2 columns]